.boton-crear-modal-vinculacion.btn.btn-success{
    margin-right: 5px;
    font-family: 'Roboto', sans-serif;
    width:70%;
}

.error-vinculacion{
    display: none;
    color: red;
    font-size: 15px;
}