.navbar{
    width:100%;
    background-color: #5e9b42;
    color: white;
    font-family: roboto;
    font-weight: bold;
}

.col-12.col-navbar{
    background-color: white;
}

a.navbar-brand{
    color: white !important;
}

.logo{
    width: 78px;
    height: 78px;
}
